<table
  style='width: 100%; background-color: #333333; padding: 20px 0; text-align: center; margin-top: 40px;'
>
  <tr>
    <td
      style="color: #999999; font-size: 12px; font-family: 'Arial', sans-serif;"
    >
      <p style='margin: 5px 0; color: #cccccc;'>
        &copy;
        {{year}}
        Your Company Name. All rights reserved.
      </p>
      <p style='margin: 5px 0;'>
        <a
          href='{{unsubscribeLink}}'
          style='color: #4caf50; text-decoration: none;'
        >Unsubscribe</a>
        |
        <a
          href='mailto:support@yourcompany.com'
          style='color: #4caf50; text-decoration: none;'
        >Contact Us</a>
      </p>
      <p style='margin: 5px 0; color: #cccccc; font-size: 14px;'>
        <strong>Your Company Name</strong><br />
        1234 Address Street, City, Country
      </p>
    </td>
  </tr>
</table>